:root {
    --textColor: #FCFCFC;
    --textColor2: #516273;
    --textColor3: #969FA8;

    --Bleu: #002060;
    --bleuGris: #f5f6f7;
    --vert2: #006464;
    --vert2_Light: #d5e3e1;
    --inputBckGrnd_Color: #F0EFEF;
    --clr_502D82: #502D82;
    --clr_FCFCFC: #FCFCFC;
    --clr_516273: #516273;
    --clr_BBD034: #BBD034;
    --clr_E68282: #E68282;
    --clr_EBC76E: #EBC76E;
    --clr_071625: #071625;
    --clr_006464: #006464;
    --clr_656666: #656666;
    --clr_000000: #000000;
    ---clr_969FA8: #969FA8;
    ---clr_F6F8FB: #F6F8FB;
    --clr_666666: #666666;
    --clr_E2EAF5: #E2EAF5;
    --clr_3566AC: #3566AC;
    --clr_C7D0D9: #C7D0D9;
}

html {
    font-size: 62.5%;
    background-color: #fff;
    font-family: 'Poppins';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.04s;
}

/* RECURENT CLASSES */

.flex_CtrCtr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_SpaceBtwn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex1 {
    flex: 1
}

.flex2 {
    flex: 2
}

.ahref_noStyle_White {
    text-decoration: none;
    color: var(--textColor)
}

.footerButtons button.displayNone {
    display: none;
}


body {
    background-color: #fff;
    font-family: 'Poppins';
    font-size: 1.6rem;
    max-width: 1110px;
    min-width: 768px;
    margin: 0 auto;
    flex: 1;
    height: 1110px;
}

main {
    background-color: #fff;
    min-width: 1110x;
    min-height: 739px;
}


/* HEADER */

.menuTop {
    background-color: var(--vert2);
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 19px;
    flex: 1;
}

.logo_MenuTop_Cont {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo_MenuTop_Cont .galionIcon {
    margin-right: 10px;
}

.sectionsTextMenu {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.sectionsTextMenu h5 {
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.04em;
    padding: 10px;
}

/* ICON SIGN IN ET RAISON SOCILE DANS MAIN MENU TOP */



.identifiants {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.identifiants img {
    margin: 10px;
}

.identifiants h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.01em;

}

/* RETOUR */

.retour {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 1110px;
    margin: 15px 40px 15px 19px;
}

.retour h3 {
    color: var(--textColor2);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.75px;
    padding-left: 10px;
    line-height: 20px;
}


.retour .arrowRtrn {
    color: var(--textColor2);
    height: 15px;
}




/* ICONES D'ÉTAT DE NAVIGATION  */

.baliseContainer {
    box-sizing: border-box;
    max-height: 35px;
    max-width: 1077px;
}

.baliseContainer .balise {
    max-width: 215px;
}


.relative_Pos {
    position: relative;
    display: block;
}

.absolute_Pos {
    position: absolute;
    display: block;
}

.textInBalise {
    top: 12%;
    left: 10%;
}


.balise1 h3, .balise2 h3, .balise3 h3 {
    color: var(--clr_FCFCFC);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
}

.balise4 h3, .balise5 h3 {
    color: var(--clr_071625);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
}


.title_1 {
    margin: 20px;
}

.title_1 h2 {
    color: var(--clr_000000);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 128.91%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.title_1_2 h3 {
    color: var(--clr_006464);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 128.91%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.lotNumber {
    margin-bottom: 16px;
}

.lotNumber h4 {
    color: var(--clr_516273);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.container_Info_Download {
    width: 1075px;
    display: flex;
    justify-content: space-between;
}

.info_Cont .info_Cont_h4_1 {
    color: var(--clr_516273);
    font-style: normal;
    font-weight: 400s;
    font-size: 14px;
    line-height: 128.91%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.info_Cont .info_Cont_h4_2 {
    color: var(--clr_516273);
    font-style: normal;
    font-weight: 400s;
    font-size: 14px;
    line-height: 128.91%;
    align-items: center;
}

.dwnldBtn {
    width: 330px;
    height: 27px;
    background: var(--clr_E2EAF5);
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;

}

.dwnldBtn h3 {
    color: var(--clr_3566AC);
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-left: 10px;
}


/* ----------------------------------------- */
.title_2 {
    margin: 117px 0 17px 0;
    color: var(--clr_000000);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 128.91%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.table_container {
    width: 100%;
    /* margin-top: 20px; */
}



.frame4Container {
    width: 1077px;
    /* border: solid 1px var(--clr_516273); */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* TABLEAU DANS CONTAINER */

thead th h3 {
    color: var(--textColor3);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.2px;

}

tbody th h3, tbody td h3 {
    color: var(--textColor2);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.2px;
}

/* espacement */

table {
    table-layout: fixed;
    width: 1074px;
    border-spacing: 0;
    border-collapse: collapse;
    /* border: solid 1px #d5e3e1; */
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
}

thead th:nth-child(1) {
    width: 14%;
}

thead th:nth-child(2) {
    width: 14%;
}

thead th:nth-child(3) {
    width: 14%;
}

thead th:nth-child(4) {
    width: 14%;
}

thead th:nth-child(5) {
    width: 14%;
}

thead th:nth-child(6) {
    width: 14%;
}

thead th:nth-child(7) {
    width: 12%;
}

thead th {
    height: 50px;
    border-bottom: solid 1px #d5e3e1;
}

tbody th, tbody tr {
    height: 47px;
    max-height: 47px;
    border-bottom: solid 1px #d5e3e1;
}

thead tr, tbody tr, tfoot, .footerTable {
    border-left: solid 1px #d5e3e1;
    border-right: solid 1px #d5e3e1;
    background-color: #FCFCFC;
}

tbody th, tbody td {
    height: 47px;
    max-height: 47px;
}

tbody .td_height47 {
    height: 47px;
    padding-left: 25px;
}

thead th, tbody th, tbody td {
    text-align: center;
    padding-left: 18px;
}

.frame4Container tbody tr {
    background-color: #EEF1F4;
}



tbody input {
    background-color: var(--clr_FCFCFC);
    color: var(--clr_666666);
    width: 100%;
    height: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    outline: none;
    border: none;
    border-radius: 6px;
    padding-left: 14px;
}

tbody select {
    background-color: var(--clr_FCFCFC);
    /* color: var(--clr_666666); */
    color: #b9b8b8;
    max-width: 100%;
    height: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    outline: none;
    border: none;
    border-radius: 6px;
    padding-left: 14px;
}


.yes_no_BtnCont {
    width: 100%;
    height: 36px;
    padding: 4px;
    background-color: #232F3C;
    border-radius: 5px;
}



tbody td .inputBtn {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    border: none;
    padding-left: 0px;
}

.inputBtn.inputBtnStyle_ON {
    color: var(--clr_232F3C);
    background-color: var(--clr_FCFCFC);

}

.inputBtn.inputBtnStyle_OFF {
    background-color: black;
    color: var(--clr_FCFCFC);
}

tbody tr td:last-child {
    padding-left: 0;
}

tbody td button.add {
    background-color: var(--clr_006464);
    color: var(--clr_FCFCFC);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    font-size: 12px;
    width: 70px;
    border-radius: 4px;
    height: 23px;
    text-align: center;
    cursor: pointer;
    padding-left: 0;
    outline: none;
    border: none;
}



/* tbody select option {
    color: red;
} */

/* tbody td .finish {
    background-color: var(--clr_006464);
    color: var(--clr_FCFCFC);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    font-size: 12px;
    width: 90px;
    border-radius: 5px;
    height: 19px;
    text-align: center;
    cursor: pointer;
    border: none;
} */

/* tbody td .garbage, tbody td .garbage {
    cursor: pointer;
} */



/* tbody tr:last-child, thead tr:last-child, tbody .borderRadiusBottom table {
    border-radius: 0px 0px 20px 20px;
} */

table {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

tbody th.savedClient, tbody td.savedClient, .pencilAndBin_td {
    background-color: #FCFCFC;
}

.pencilAndBin_Cont .pencilIcon {
    margin-right: 14px;
    cursor: pointer;
}

.pencilAndBin_Cont .garbageIcon {
    margin-left: 5px;
    cursor: pointer;
}

.savedClient h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--clr_969FA8);
}

footer {
    width: 100%;
    height: 50px;
    background-color: #F6F8FB;
}

footer button.return {
    background-color: var(--clr_FCFCFC);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.75px;
    width: 140px;
    height: 30px;
    border: 4px solid #006464;
    box-sizing: border-box;
    border-radius: 14px;
    cursor: pointer;
    margin: 0 9px;
}

footer button.return h4 {
    color: var(--clr_006464);
}


footer button.nextNotActive {
    color: var(--clr_FCFCFC);
    background-color: var(--clr_C7D0D9);
    /* background-color: red; */
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.75px;
    width: 140px;
    height: 30px;
    border: 4px solid var(--clr_C7D0D9);
    box-sizing: border-box;
    border-radius: 14px;
    /* cursor: pointer; */
    margin: 0 9px;
}

footer button.next_Active {
    color: var(--clr_FCFCFC);
    background-color: var(--clr_006464);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.75px;
    width: 140px;
    height: 30px;
    border: 4px solid var(--clr_006464);
    box-sizing: border-box;
    border-radius: 14px;
    cursor: pointer;
    margin: 0 9px;
}